<div class="container-fluid justify-content-center">
    <ul class="nav col-12 col-lg-auto mx-auto justify-content-center mb-md-0">
        <li><a href="/categories" class="nav-link px-2 text-white">Categories</a></li>
        <li><a href="/channels" class="nav-link px-2 text-white">Channels</a></li>
    </ul>
</div>