@inherits LayoutComponentBase
@layout SharpAgent.Blazor.Components.Layout.MainLayout



<div class="row justify-content-center">
    <div class="col-lg-6 text-center">
        <p></p>
        <div>
            <h4>Manage your account</h4>
            <hr />
            <div class="row text-start">
                <div class="col-lg-3">
                    <ManageNavMenu />
                </div>
                <div class="col-lg-9">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>
